.object-fit-cover {
    object-fit: cover !important;
}
.box-sm-x {
    width: 25px;
    height: 25px;
}
.box-sm {
    width: 50px;
    height: 50px;
}
.box-md {
    width: 80px;
    height: 80px;
}
.box-bg-red-light {
    background-color: #fff0f0
}
.box-bg-red {
    background-color: #ffb2b2
}
.img-cover {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}
.txt-sm {
    font-size: 12px !important;
}
.txt-md {
    font-size: 14px !important;
}
.txt-trans-none{
    text-transform: none !important;
}



.cat-box {
    cursor: pointer;
    text-transform: capitalize;
}
.cat-box:hover {
    transform: scale(1.05, 1.1);
    transition: 0.5s;
}

.user-ico-con:hover svg path {
    fill: #ff0000; /* Change to your desired color */
}



/*  Admin  */
.sidebar-user-img-con {
    width: 50px;
    height: 55px;
    border-radius: 100px !important;
}